* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: auto 1rem;
    min-height: 100vh;
    background: linear-gradient(to right bottom , rgba(109, 50, 125930.85) , rgb(2, 2, 60 , .93));
}
.rank-logo {
    padding-top: .8rem;
    height: 80px;
    width: 90px;
}

.rank-logo-profile {
    width: 3.5rem;
    height: 3.5rem;
    opacity: .87;
    border-radius: 50%;
    border: none;
}

.main {
    padding-right: 1rem;
    max-width: 900px;
    margin: auto;
    background: linear-gradient(to right bottom , rgb(62, 3, 78) , rgb(2, 2, 60));
}
.container h2{
    background: inherit;
    background: linear-gradient(to right bottom, rgb(20, 20, 94) , rgb(9, 2, 151));
}
.tag {
    border-radius: .8rem;
    border: 2px solid blue;
    z-index: 2;
    padding: 1.4rem 1.8rem;
}

.col-8 {
    height: 2.7rem;
}
#info {
    overflow: hidden;
    max-height: 3rem;
}
#num {
    height: 80px;
    line-height: 80px;
}

@media only screen and (max-width: 1150px) {
    .main {
        width: 100%;
    }
    .tag {
        font-size: 1.2rem;
        font-weight: 500;
        padding: 1rem 1.3rem;
    }
  }

@media only screen and (max-width: 778px) {
    /* li .d-flex {
        font-size: 1.1rem;
    } */
    /* .rank-logo {
        height: 3rem;
        width: 3rem;
    } */
    .rank-logo-profile {
        width: 3rem;
        height: 3rem;
        opacity: .87;
    }
  }

  
@media only screen and (max-width: 470px) {
    .rank-logo {
        width: 3.1rem;
        opacity: .87;
    }
    .profile-img {
        padding: 0 !important;
        width: 2rem !important;
        margin-right: 1.2rem !important;
    }
    .rank-logo-profile {
        padding: 0 !important;
        width: 2rem;
    }
    #info {
        height: 2rem;
        line-height: 2rem;
        justify-content: center;
        align-items: center;
        font-size: small !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    .rank {
        width: 3rem !important;
    }
    .btn {
        width: fit-content !important;
    }
  }